.login,.signup{
    margin: 3px 10px;
}
.anim{
    text-align: left;
    display: flex;
}
.container{
    margin-right: 150px !important;
    margin-top: 150px !important;
}

.anim1{
    width: 100%;
    height: auto;
}
.icon {
    width: 96px;
    height: 96px;
    float: left;
  }
.seconddiv{
    text-align: center;
}
