.login,.signup{
    margin: 3px 10px;
}
.anim{
    text-align: left;
}
.container{
    margin-right: 150px !important;
    margin-top: 150px !important;
}
.main-heading{
    margin: 50px 0;
}
.anim1{
    width: 100%;
    height: auto;
}
.icon {
    width: 96px;
    height: 96px;
  }
  .icon-text{
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      margin: 25px 0;
  }
.seconddiv{
    text-align: center !important;
    align-items: center !important;
}
.row1,.row2{
    margin: 150px 0;
    text-align: center;
}
.card-img{
    height: 250px;
    width: 250px;
    border-radius: 100%;
    justify-content: center;
    object-fit: cover;
}
.card{
    text-align: center;
    justify-content: center;
}
.card1{
    margin: 10px 0;
}

.testimonials{
    text-align: center;
    justify-content: center;
}
.card-text{
    font-style: italic;
}
.name{
    font-weight: bold;
}
.footer{
    text-align: center;
    height: 80px;
    padding-top: 40px;
    background-color: black;
}
.footer-text{
    color: white;
}
